extends layout

block pageTitle
  title Blog | Caitlin Bailey, Front End Web Developer

block content
  header.page-header
    h1.heading--main.heading Blog
  div.inner-wrap
    ul.blog-posts-list
      each post in posts
        li.blog-posts-list__item.blog-post
          a(href='/blog/#{post.filename}')
            article.blog-article
              h1.heading.heading--secondary.no-b-margin=post.title
              date(datetime='#{post.date}') #{moment(post.date).format("MMM D, YYYY")}
              p=post.excerpt
              span.btn.btn--solid Read More
