extends layout

block content
  
  // h1.page-title Caitlin Bailey, Front End Web Developer
  
  section.recent-project.recent-project--wa
    a(href="/projects/webadvanced")
      h2.heading.heading--kicker Recent Project
      h3.heading.heading--main.no-b-margin Web Advanced
      span.btn.btn--outline.btn--white View Project
      
  div.inner-wrap.inner-wrap--center-vert.section-margins
    div.intro
      p I wanted to do something I loved when I grew up.
      p Front end development is that thing.

    section.latest-blog
      h1.heading.heading--kicker Latest Blog Post
      article.blog-post
        h1.heading.heading--secondary.no-margins
          a(href="/blog/#{posts[0].filename}")
            =posts[0].title
        date(datetime="#{posts[0].date}").blog-post__date #{moment(posts[0].date).format("MMM D, YYYY")}
        p=posts[0].excerpt
        a.btn.btn--solid.margin-top-1(href="/blog/#{posts[0].filename}") Read More
  
  div.inner-wrap.section-margins
    div.trio.trio--img.group
      div.trio__col
        a(href="/projects")
          img(src="/images/portfolio.jpg")
          span Project Portfolio
      div.trio__col
        a(href="/resume")
          img(src="/images/me.jpg")
          span Resume
      div.trio__col
        a(href="/blog")
          img(src="/images/keyboard.jpg")
          span Blog
